<%= form_with(model: company, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= form.submit "Create Company", class: "btn btn-primary" %>
  </div>
<% end %>
